@import "../globals.css";

.stat-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.stat-header {
    color: var(--text-color-header);
    font-size: var(--font-size-xxs);
    text-decoration: underline;
}

.stat-text { font-size: var(--font-size-l); }

.stat-modifier {
    font-size: var(--font-size-xxs);
    color: var(--text-color-neg)
}

.upgrade-button {
    background-color: var(--secondary-black);
    border: none;
    height: var(--font-size-xxs);
}

.upgrade-button-icon {
    width: var(--font-size-m);
}

.upgrade-button-icon:hover {
    width: var(--font-size-l);
}

.hudbar-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: var(--edge-component-height);
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    background-color: var(--secondary-black)
}