@import "../globals.css";

.stat-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.stat-header {
    color: var(--text-header);
    font-size: var(--font-xxs);
    text-decoration: underline;
}

.stat-text {
    font-size: var(--font-l);
}

.hudbar-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 7vh;
    justify-content: space-around;
    align-items: center;
    color: var(--text-default);
    background-color: var(--secondary-black)
}