@import "../globals.css";


.backDrop {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .9);
}

.container {
    background-color: var(--background-black);
    border-radius: 5px;
    padding: .2vmax;
}

.closeContainer {
    width: 100%;
    display: flex;

    justify-content: end;

    button {
        border: none;
        background: none;
    }

    img {
        width: var(--font-size-xl);
    }
}