@import "../globals.css";

.container {
    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        background-color: var(--primary-white);

        font-weight: normal;
        font-size: var(--font-size-m);
        text-align: left;
    }

    tbody {
        background-color: var(--secondary-black);

        color: var(--text-color);
        font-size: var(--font-size-s);
    }

    tr {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
