@import "../globals.css";

.table-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--primary-black);
    color: var(--text-default);
}

.table-row {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}


.column-container { flex: 1; }
.column-container:last-child .column-grid {
    border-right: none;
}


.column-grid {
    display: grid;
    grid-template-columns: var(--cols);  /* cols is set within the react code (see Table.tsx) */
    align-items: stretch;
    border-right: 3px dashed var(--primary-white);
}

.column-header {
    position: relative;
    color: var(--text-invert);
    background-color: var(--primary-white);
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
}

.column-header::after {  /* This is sort of a hack job to hide the dotted border on the header */
    position: absolute;
    content: var(--header-toggle);
    height: 100%;
    width: 3px;
    background-color: var(--primary-white);
    right: -3px;

}


.row-child {
    margin-left: .5vw;
}