@import "../globals.css";

.container {
    & table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    & thead {
        background-color: var(--primary-white);

        font-weight: normal;
        font-size: var(--font-size-m);
        text-align: left;
    }

    & tbody {
        background-color: var(--secondary-black);

        color: var(--text-color);
        font-size: var(--font-size-s);

    }

    & td {
        padding: .1ch .3ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }
}


.borderRow {
    border-right: 2px solid var(--primary-white);
    margin-right: 100px;
}
