@import "../globals.css";


/* <InputBox> classes */
.input-container {
    display: flex;
    flex-direction: row;

    gap: var(--font-size-xxs);
    color: var(--text-color);

    .dropdown-select {
        width: 100%;
        font-size: var(--font-size-s);
    }

    .dropdown-select__control {
        background-color: transparent;
        border: none;
        color: var(--text-color) !important;
    }

    .dropdown-select__control--is-focused {
        outline: none !important;
        box-shadow: none !important;
    }

    .dropdown-select__menu-list {
        background-color: var(--primary-black);
    }

    .dropdown-select__single-value {
        color: var(--text-color) !important;
    }
}





.input-box-header {
    color: var(--text-color-header);
    font-size: var(--font-size-xxs);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    text-wrap: nowrap;

    width: 35%;
}

.input-box-body {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;


    font-size: var(--font-size-s);
    padding: .4ex .25em .4ex 0;

    background-color: var(--primary-black);
    border: 1px solid var(--secondary-black);
    border-radius: 4px;
}


.input-box-input {
    flex: 1;
    min-width: inherit;

    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-align: right;


    background-color: inherit;
    border: none;
}

.input-box-input:focus { outline: none; }

.input-box-suffix {
    padding-left: 1ch;
}


/* <PersonalData> classes */
.personal-data-container {
    display: flex;
    flex-direction: column;
    width: 40%;

    gap: 15px;
}

.personal-data-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(70px, 1fr));
    grid-template-areas:
            "meta-type   meta-type   meta-type ethnicity ethnicity ethnicity"
            "age         age         height    height    weight    weight"
            "street-cred street-cred notoriety notoriety awareness awareness";
    gap: .5vh 1vw;
}

#meta-type { grid-area: meta-type; }
#ethnicity { grid-area: ethnicity; }
#age { grid-area: age; }
#height { grid-area: height; }
#weight { grid-area: weight; }
#street-cred  { grid-area: street-cred; }
#notoriety  { grid-area: notoriety; }
#awareness  { grid-area: awareness; }